.App {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  /* background: #333; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
